on:
  push:
    branches:
    - main
jobs:
  deploy:
    name: Upload to Amazon S3
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#         role-to-assume: arn:aws:iam::203251868046:role/my-github-actions-role
        aws-region: us-east-1
    - name: Copy files to the website with the AWS CLI
      run: |
        aws s3 cp . s3://tester-bucket123
 
